body{
    --inv: #fff;

}

.btn-primary{
    background-color: #00ADB5;
    color: #222831;
    border: none;
}

#hero{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

/* Navbar */

.nav-link{
    color: #00ADB5;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 600;
    font-size: 18px;
}

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}


/* End navbar */

/* CTA */

#cta{
    background: #00ADB5;
}

/* End CTA */

/* Footer */

#footer{
    background-color: #00ADB5;
}

/* End footer */

/* Back to top button */

#to-top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: solid 2px #00ADB5;
    background-color: #FFF;
    cursor: pointer;
}

/* End back to top button */